:root {
  --bg-color: #2b2d42;
  --bg2-color: #8d99ae;
  --bg3-color: rgb(32, 42, 58);
  --hover-background: #edf2f4;
  --button-color: #98c1d9;
  --hover-button: #d90429;
  --font1: #98c1d9;
  --shadow: 5px 5px 5px black;
}
body {
  background-color: var(--bg-color);
  color: var(--font1);
}
h1 {
  text-align: center;
}
form {
  

  color: var(--bg2-color);
  background-color: var(--bg3-color);
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin: 2rem;
  align-content: center;
  box-shadow: var(--shadow);
}
select,
.input {
  background-color: var(--bg2-color);
  border: none;
  color: var(--bg-color);
  margin: 0.5rem;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.btn {
  background-color: var(--button-color);
  border: none;
  margin: 0 auto 0.5rem auto;
  box-shadow: var(--shadow);
}
.submit {
  margin: 0 auto 0.5rem auto;
}
.btn:hover {
  cursor: pointer;
  background-color: var(--hover-button);
}
.foods-container {
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5px;
}

.food-container {
  background-color: var(--bg2-color);
  color: var(--bg-color);
  text-align: center;
  margin: 3px auto;
  box-shadow: var(--shadow);
  min-width: 240px;
}
.total {
  margin: 0 auto;
  width: 350px;
}
.quantity::after,
.grams::after {
  content: "g";
}
.cals::after {
  content: "kcal";
}
#copyTotal {
  margin-left: 2rem;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
